:root {
    --primary-color: beige;
    --secondary-color: peachpuff;
    --accent-color: rgb(169, 240, 254);
    --menu-font-color: #6e1717;
    --header-font-color: #b1f7ff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-color);
    margin: 0 auto;
}

/* Nav section */

nav {
    position: relative;
    display: block;
}

nav ul {
    text-align: center;
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding: 0.5rem 2rem;
    font-size: 18px;
    vertical-align: middle;
    min-width: 100px;
    margin: 1rem 0.25rem;
}

nav ul li:last-child {
    margin-right: 2rem;
}

nav ul li a {
    text-decoration: none;
    color: var(--menu-font-color);
}

/* Hero section */

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(img/background_lake.jpeg) no-repeat center center/cover;
    min-height: 30vh;
    text-align: left;
}

.hero-section h1,
.hero-section h2
{
    color: var(--header-font-color);
    margin-bottom: 1rem;
}

.hero-section h1 {
    font-size: 4em;
}

.hero-section h2 {
    padding: 3rem;
    font-size: 2em;
}

/* Main section */

main h2,
main p {
    padding: 1rem;
}

main section {
    padding: 3rem;
}

section.odd {

}